<div class="route-form">
  <div class="header">
    <h2>Input the coordinates</h2>
    <p>Please fill in all informations</p>
  </div>
  <form>
    <p *ngIf="showWarningMessage" class="warning-message">
      Add a smaller coordinate
    </p>
    <div id="droneStart" class="input-section">
      <input
        [(ngModel)]="startCoordinate"
        (ngModelChange)="getDroneStartCoordinate('droneStartButton', 'active')"
        type="text"
        placeholder="Drone Start"
        name="drone-start"
      />
      <div class="animated-button">
        <button [disabled]="disabled" id="droneStartButton" class="next-button" (click)="goToNextStep('droneStart', 'pickUp', 'folded')">
          <i class="fa fa-arrow-up"></i>
        </button>
      </div>
    </div>
    <div id="pickUp" class="input-section folded">
      <input
        [(ngModel)]="pickUp"
        type="text"
        placeholder="Object pick-up"
        name="pick-up"
      />
      <div class="animated-button">
        <button [disabled]="disabled" id="pickUpButton" class="next-button">
          <i class="fa fa-arrow-up"></i>
        </button>
      </div>
    </div>
    <div id="destination" class="input-section folded">
      <input
        [(ngModel)]="destination"
        type="text"
        placeholder="Delivery destination"
        name="destination"
      />
      <div class="animated-button">
        <button [disabled]="disabled" id="destinationButton" class="next-button">
          <i class="fa fa-arrow-up"></i>
        </button>
      </div>
    </div>
  </form>
</div>
