<div class="routes-list">
  <p>Last deliverieas:</p>

  <div class="last-routes">
    <ul>
      <li
        *ngFor="
          let route of routes.slice(0, 10)
            | paginate : { itemsPerPage: 5, currentPage: page, totalItems: 10 }
        "
      >
        {{
          "From " +
            route.droneStart +
            ", picking-up at " +
            route.pickUp +
            " to " +
            route.done +
            " in " +
            route.time +
            " seconds."
        }}
      </li>
    </ul>
    <div class="pagination-controls">
      <button [disabled]="page === 1" id="paginationPrevious" class="pagination pagination-previous" (click)="previousPage('paginationPrevious', 'paginationNext')">
        <i class="fa fa-angle-left"></i>
      </button>
      <button [disabled]="page > 1" id="paginationNext" class="pagination pagination-next active" (click)="nextPage('paginationNext', 'paginationPrevious')">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </div>
</div>
