.routes-list {
  background: #FFF; 
  font-size: 20px;
  width: 510px;
  padding: 0.1em 0.5em 1em;
  box-shadow:  0px 0px 100px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  
  .header {
    padding: 8px 8px 2px 4%;
    border-bottom: solid 1px #ddd;

    p {
      font-weight: 700;
      color: #333;
      margin: 0;
      margin-bottom: -10px;
    }

    span {
      color: rgb(134, 146, 155);
      font-size: 12px;
    }
  }
  
  .last-routes {
    ul {
      padding: 0.1em 0.5em 0.1em;
      margin: 0;

      li {
        color: saturate(#1B4A4E,15%);
        border-bottom: solid 1px #ddd;
        padding: 8px 8px 8px 2%;
        font-size: 14px;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .pagination-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;

    .pagination {
      background-color: rgb(235, 235, 235);
      border: 1px solid rgb(147, 147, 147);
      padding: 4px 16px;
      transition: all 0.2s ease-in;
      
      i {
        font-size: 16px;
        color: rgb(147, 147, 147);
      }
      
      &:first-child {
        margin-right: 8px;
      }
      
      &.active {
        border: 1px solid #135156;
        
        i {
          color: #135156;

        }
        
        &:hover {
          background-color: #135156;
  
          i {
            color: #fff;
          }
        }
      }
    }
  }
}