<div class="route-calculated">
  <div class="header">
    <button id="resetFormButton" class="next-button" (click)="resetForm()">
      <i class="fa fa-times"></i>
    </button>
    <h2>Delivery informations:</h2>
    <p>See below the fastest route to seted delivery</p>
  </div>
  <div class="route-calculated-info">
    <span>Coordinates:</span>
    <p>A1, B2, C4</p>
  </div>
  <div class="route-calculated-info">
    <span>Time to be delivered as fast as possible:</span>
    <p>30 seconds.</p>
  </div>
</div>
