<div class="route-form-container">
  <div class="row route-form">
    <div class="header">
      <h2>Input the coordinates</h2>
      <p>Please fill in all informations</p>
    </div>
    <form action="submit">
      <div class="input-section">
        <input type="text" placeholder="Drone Start" name="drone-start" id="droneStart">
        <div class="animated-button">
          <span class="next-button">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section folded">
        <input type="text" placeholder="Object pick-up" name="pick-up" id="pickUp">
        <div class="animated-button">
          <span class="next-button">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section folded">
        <input type="text" placeholder="Delivery destination" name="destination" id="destination">
        <div class="animated-button">
          <span class="next-button">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

